<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
	<head>
	    <meta charset="UTF-8">
	    
	    <title>DVD Shelf</title>
	    
	    <th:block th:replace="~{fragments/layout :: head}"></th:block>
	    
	</head>
	
	<body class="text-white">
	
		<nav th:replace="~{fragments/layout :: navbar}"></nav>
		
		<div class="container">
		
		    <h1 class="text-center display-1 fw-bold">DVD Shelf</h1>
		
		    
		</div>
	
	</body>
</html>